# Virtual environment

.venv/
Siamese_Network_Loss_Function/.keras/
Siamese_Network_Loss_Function/__pycache__/
another_venv/
Siamese_Network_Loss_Function/data/
Siamese_Network_Loss_Function/example.py/
ClassTutorial/
EmbeddingsOpenAI/
Introduction/
ML_Tutorial_David/
TensorFlow Tutorial/
TripletLossExample/
Siamese_Network_Loss_Function/siamesetlktrained/
Siamese_Network_Loss_Function/test.py