# Virtual environment

.venv/
Siamese_Network_Loss_Function/.keras/
Siamese_Network_Loss_Function/__pycache__/
another_venv/
Siamese_Network_Loss_Function/data/
Siamese_Network_Loss_Function/example.py/